################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs
/hermes-datavision/.vs/hermes-datavision
/hermes-datavision/hermes-datavision/bin/Debug/net6.0
/hermes-datavision/hermes-datavision/obj
